@import './Reset.scss';
@import './Vars.scss';
@import './Typography.scss';

html{
    background: $blue;
    height: 100%;
}

.splash{
    img{
        width: 100%;
        height: auto;
    }
}

button{
    width: 150px;
    height: 50px;
    border: 2px solid white;
    background: $blue;
}

.firstSplash{
    height: 100%;
    margin-top: $spacer4;

    h1{
        margin-top: $spacer1;
    }

    h2{
        margin-top: $spacer1;
    }

    p{
        margin-top: $spacer2;
    }

    button{
        margin-top: $spacer2;
    }
}

.QAarea{
    margin-top: $spacer3;
}

.faqheading{
  margin-top: $spacer4;
}

.footer{
    margin-top: $spacer3;
    width: 100%;
    margin-bottom: 0;

    img{
        width: 80%;
        margin: $spacer2 0;
    }
}

#faq-container {
    @include sm {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  
  $faq-gutter: 12rem;
  .faq-container {
    padding-left: 4rem;
    margin-left: -$faq-gutter !important;
  
    .grid__item {
      padding-left: $faq-gutter !important;
    }
  }
  
  .faq-item {
    position: relative;
    p {
      margin: 0; // Prevent jump on drawer open
      padding: 0;
    }
    margin-bottom: 1.5rem;
  
    @include md {
      margin-bottom: 3.5rem;
    }
  }
  .q {
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-left: 4rem;
    transition: all 0.3s ease;
    &:before {
      height: 0;
      line-height: 0;
      transition: 0.3s;
      content: "\d7";
      position: absolute;
      left: 0;
      font-size: 2.3rem;
      color: white;
      margin-top: 1.1rem;
      transform-origin: center 0.5rem;
      transform: rotate(45deg);
      @include md {
        font-size: 3rem;
        margin-top: 1.4rem;
      }
    }
    &.active:before {
      transform: rotate(180deg);
    }
  }
  .a-show, .a-hidden {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.3s ease;
  }
  .a-show {
    max-height: fit-content;
  }
  ol {
    list-style-type: decimal;
  }