@font-face {
  font-family: "Neue Plak Extended";
  src: url("../fonts/NeuePlak-ExtendedBold.woff2") format("woff2"),
    url("../fonts/NeuePlak-ExtendedBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NB International Mono";
  src: url("../fonts/NBInternationalMonoWebfont.woff2") format("woff2"),
    url("../fonts/NBInternationalMonoWebfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NB International Pro";
  src: url("../fonts/NBInternationalPro-Lig.woff2") format("woff2"),
    url("../fonts/NBInternationalPro-Lig.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

html {
  font-size: 7px;
  @media screen and (min-width: $sm) {
    font-size: 8px;
  }
  @media screen and (min-width: $md) {
    font-size: 9px;
  }
}

h1 {
  color: white;
  font-size: 6.1rem;
  font-family: "Neue Plak Extended";
}

h2{
    color: white;
    font-size: 4rem;
    font-family: "Neue Plak Extended";
}

h3{
  color: white;
  font-size: 3rem;
  font-family: "Neue Plak Extended";
}

p{
    font-family: "NB International Pro";
    color: white;
    font-size: 2.5rem;
    line-height: 4rem;
}

h5{
    font-family: "NB International Pro";
    color: white;
    font-size: 2rem;
}

button a{
    text-decoration: none;
    color: white;
    font-family: "NB International Mono";
    font-size: 1.2rem;
}

button a:hover{
    opacity: 0.5;
}
